[glob]
*/.DS_Store
DLPopoverController/build
DLPopoverController/AliPad.xcodeproj/*.pbxuser
DLPopoverController/AliPad.xcodeproj/*.mode1v3
DLPopoverController/Products
DLPopoverController/*.pbxuser
DLPopoverController/*.perspectivev3
DLPopoverController/*.mode1v3
DLPopoverController/.pbxuser
DLPopoverController/.perspectivev3
DLPopoverController/.mode1v3
TT/.pbxuser
TT/.perspectivev3
TT/.mode1v3
TT/*.pbxuser
TT/*.perspectivev3
TT/*.mode1v3
# xcode noise
build/*
*.pbxuser
*.mode1v3

# old skool
.svn

# osx noise
.DS_Store
profile

